<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><%=link_to "Dashboard", root_path %></a></li>
      <li><%=link_to "Sellers", sellers_path %></li>
      <li class="active">Show Seller</li>
    </ol>
  </div>
</div>

<%if notice %>
	<div class="alert alert-success" id="notice">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<span class="glyphicon glyphicon-ok-sign"></span> <%= notice %>
	</div>
<%end%>

  <p>
    <label>Name:</label>
    <%= @seller.name %>
  </p>
  <p>
    <label>Store:</label>
    <%= @seller.store %>
  </p>

<%= link_to sellers_path, class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Back
<%end%>

<%= link_to edit_seller_path(@seller), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
<%end%>
