<!DOCTYPE html>
<html>
	<head>
	  <title>IndevaTestApp</title>
	  <%= csrf_meta_tags %>

	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	</head>
		
	<body>
		<header>
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<%= render 'layouts/menu' %>
				</div>
			</nav>
		</header>

		<section class="container">
			<%= yield %>
		</section>
	  
	  <% if user_signed_in? %>
	  <footer>
	    <div class="container">
	      <br>
	    	<p>Copyright © 2017 - Indeva</p>
	      <br>
	    </div>
	  </footer>
	  <% end %>
	  
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'false' %>
	</body>
</html>
